{% extends "bootstrap/base.html" %}

{% block title %}Random Episode Chooser{% endblock %}

{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{super()}}

{#- Docs: http://pythonhosted.org/Flask-Bootstrap/macros.html#fixes
   The sample application already contains the required static files. #}
{{fixes.ie8()}}
{%- endblock %}

{}

{% block navbar %}
    <div class="page-header">
        <h1>Random Episode Chooser</h1>
    </div>
    <div id="search" style="margin-left:10px">
        <form action="/show_result" method="post" class="form-inline">
            <label>Show name:</label> <input type="text" name="show_name" class="form-control">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </br>
    </div>
{% endblock navbar %}
