<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <title>{% block title %}{% endblock %} - REC</title>
    {% endblock %}
</head>
<body>
    <div id="search">
        <form action="/show_result" method="post">
            Show name:<input type="text" name="show_name">
            <button type="submit">Submit</button>
        </form>
        </br>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        <!-- {% block footer %}
        &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
        {% endblock %} -->
    </div>
</body>
</html>